body {
    background-color: black;
    color: white;
}

hr {
    background-color: white;
    margin-top: 5%;
    margin-bottom: 2%;
}

.alinhar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn,
.btn-dark {
    width: 180px;
}

.d-flex {
    margin-bottom: 1%;
}